# Dependencies
node_modules/

# Environment variables (SENSITIVE)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db

# IDE / tools
.gemini/
.vercel/
.vercel
